venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

metadata.db
downloads/
storage_nodes/

.DS_Store
.vscode/
.idea/

db/
metadata.db
downloads/*
!downloads/.gitkeep
storage_nodes/node1/*
storage_nodes/node2/*
storage_nodes/node3/*
!storage_nodes/node1/.gitkeep
!storage_nodes/node2/.gitkeep
!storage_nodes/node3/.gitkeep
__pycache__/
*.pyc
.venv/
venv/
.env
.DS_Store